@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
--header-font:"Playfair",serif;
--body-font:"Merriweather",serif;
--text-color:#ffd700;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration:none;
    
}

.honey{
   background-image:url(../images/new.jpeg);
   min-height :10vh;
    background-size:15in;
    background-position: center;
    padding: 40px;
    background-repeat: no-repeat;

   
    }


.navbar{
    display: flex;
    text-align:center;
    justify-content: end;
    justify-content: space-around;
    font-family: var(--body-font);

    font-size:x-large;
    color: chartreuse;
    font-weight: 700;
    padding: 8px 15px;
    letter-spacing: 1px;
}
.title{
    font-family: var(--header-font);
    font-size: 50px;
    align-items:center;
    justify-self:center;
    color:yellow;
}
.page1{
    align-self: center;

    justify-self:center;    
    color:#ffd700 ;
    text-shadow: #ffd700;
    font-size:xx-large;
    font-weight: 100;
    
}
.miss{
    justify-self: center;
    align-self: center;
}
.services{
    justify-self: center;
border-image-width: 10px;

font-size:x-large;


}
.info{
flex-direction: column;
flex-wrap:wrap;
font-family: 'Courier New', Courier, monospace;
font-weight: 600;
}
.contact{
    font-family: var(--header-font);
    text-align:center;
    padding: 20px;
    
}
.yoo{
    align-items: center;
display: flex;    
justify-content:space-around;
font-family: var(--header-font);
}